.b2b-section {
  padding: 30px;
}

.b-clint {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0.5px 0px 5px rgba(255, 255, 255, 0.847);
  background-color: #2b2b3f;
}

.text-box p {
  color: #ffffff82;
  margin-bottom: 30px;
}

.card-box h5 {
  font-weight: bold;
  color: #c73081;
}

.card-box {
  background-color: white;
  border-radius: 10px;
  color: grey;
  padding: 10px;
}
.card-box p {
  font-size: 15px;
  /* font-weight: bold; */
}

.card-box:hover {
  background-color: #edd5e2;
  cursor: pointer;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.6); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* padding: 20px;  */
}
.show-waitlist-btn {
  background-color: #c72f81;
  color: white;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 15px;
  width: 100%;
  margin: 0px 0 10px 0;
}
.popup-content {
  background-color: black;
  color: black;
  /* padding: 0 10px 0 10px; */
  border-radius: 15px;
  /* text-align: center; */

  max-width: 600px;
  width: 100%;
  position: relative;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  max-height: 95vh;
  overflow-y: auto;
  margin: 0 auto;
}
.popup-message {
  margin: 0 auto;
  padding: 10px 3rem;
}
#roadmap {
  text-align: center;
  color: white;
  padding: 0px 5px 0 5px 0;
}
.popup-content::-webkit-scrollbar {
  display: none;
}
.popup-close {
  position: absolute;
  top: -5px;
  right: 20px;
  font-size: 35px;
  color: #ffffff;
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 10000;
}

/* .popup-close:hover {
  color: red;
} */

@media (max-width: 600px) {
  .popup-content {
    max-width: 90%;
    padding: 0px;
  }
  .popup-message {
    margin: 0 auto;
    padding: 0 1rem;
  }
  /* .card-box {
    margin-top: 10px;
  } */
  #card-box {
    margin-top: 10px;
  }
}

@media (max-width: 550px) {
  .b2b-section {
    padding: 10px 15px;
  }
  .b-clint {
    padding: 20px 15px;
  }

  .b2b-section p {
    font-size: 12px;
  }
}

/* road map css */

/* :root {
  --primary-color: #111;
  --background-color: #111;
  --font: sans-serif;
} */

/* * {
  margin: 0;
  padding: 0;
} */

/* body {
  /* background: var(--background-color); */
/* font-family: var(--font); */
/* display: flex;
  justify-content: center; */

/* .popup-message .timeline {
  margin: 0px auto;
  padding: 5px 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.popup-message .card {
  position: relative;
  max-width: 400px;
  background-color: transparent !important;
  border: none !important;
  margin: 0px auto;
}

.popup-message .card:nth-child(odd) {
  padding: 20px 0 10px 22px;
}
.popup-message .card:nth-child(even) {
  padding: 20px 32px 15px 0;
}
.popup-message .card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid #ffffff;
}

.popup-message .card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}
@media only screen and (max-width: 400px) {
  .popup-message .card:nth-child(odd)::before {
    top: -5px;
    bottom: -5px;
  }
}

.popup-message .card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

.popup-message .card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

.popup-message .card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

.popup-message .card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

.popup-message .info {
  display: flex;
  flex-direction: column;
  background: #c72f81;
  color: white;
  border-radius: 10px;
  padding: 4px;
}

.popup-message .title {
  color: white;
  position: relative;
  font-size: 20px;
  font-weight: bolder;
  text-align: start;
}
.info p {
  font-size: 13px;
  color: #ffffffd2;
}
.popup-message .title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #c73081;
  border-radius: 999px;
 
}

.popup-message .card:nth-child(even) > .info > .title {
  text-align: end;
}
.popup-message .card:nth-child(odd) > .info > .title::before {
  left: -29px;
  top: 0px;
}

.popup-message .card:nth-child(even) > .info > .title::before {
  right: -38px;
  top: 5px;
} */

/* Form Lsit */

.waitlist-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #430051; */
  padding: 20px;
  border-radius: 8px;
  color: white;
  width: 100%;
  margin: auto;
}
.waitlist-form h3 {
  font-size: 30px;
}

.waitlist-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
}

.waitlist-input {
  flex: 0 0 calc(50% - 10px); /* Two inputs per row */
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
}

.waitlist-input input,
.waitlist-input select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  margin-top: 5px;
  /* box-shadow: 0 0 3px 3px #f8f8f8; */
}

.waitlist-input label {
  padding: 0 5px;
  font-size: 12px;
  color: rgb(0, 0, 0);
}

.waitlist-button {
  margin: 10px auto !important;
  background-color: #c72f81;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
  width: 85%;
}

.waitlist-button:hover {
  box-shadow: 4px 0px 5px 5px #c73081;
}

.waitlist-api-message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}
.error-text {
  color: #c72f81;
  font-weight: bold;
  padding: 10px;
}

.waitlist-success-message {
  background-color: #d4edda !important;
  color: #155724;
   width: 100%;
}

.waitlist-error-message {
  background-color: #d4edda !important;
  color: rgb(0, 0, 0);
  width: 100%;
}
@media screen and (max-width: 500px) {
  .waitlist-input {
    flex: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
  }
}

/* schduile meeting */

.schedule-meeting h2 {
  color: white !important;
  text-align: center;
  margin: 20px 0px 10px 0px;
}
.schedule-meeting p {
  color: rgb(225, 220, 220);
  text-align: center;
  font-size: 14px;
}
.schedule-meeting button {
  margin: 10px auto !important;
  background-color: #c72f81;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
}
.schedule-meeting button:hover {
  box-shadow: 4px 0px 5px 5px #c73081;
}
