.login-form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* margin-top: 1.5rem; */
  padding: 10px;
}

.login-form h6 {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 8px;
  color: white;
}

#login-text {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin: 8px 0px 15px 0px;
  color: white;
}

.login-img {
  width: 50%;
  margin: 0px auto;
}

.login-form input {
  margin-bottom: 10px;
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
}

.login-form button {
  padding: 10px 10px;
  background-color: #c72f81;
  color: white;
  margin-top: 10px;
  font-weight: bold;
  padding: 12px 20px;
  border-radius: 5px;
  border: 0;
  border-radius: 12px;
}

.login-form button:hover {
  background-color: #b11e6f !important;
}

/* hide input suggestion arrow */
input::-webkit-calendar-picker-indicator {
  display: none !important;
}

@media (max-width: 600px) {
  .login-form {
    justify-content: center;
    padding: 30px;
  }
}
